body {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'raleway', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: 'raleway', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

nav {
    background-color: #00a6b3;
    color: #ffffff;
    padding: 20px 0;
}

a {
    font-family: 'raleway', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
}

a:hover {
border-bottom: 2px solid #ffffff;
}

p {
    font-family: "droid serif", sans-serif;
    line-height: 26px;
    font-size: 18px;
}

.instructions {
    font-family: 'raleway', sans-serif;
    color: #0d2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px;
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px;
}

footer {
    text-transform: uppercase;
    padding: 5px;
    background-color: #0d2c40;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}


.copyright {
    font-family: 'raleway', sans-serif;
    text-align: left;
    display: inline;
    margin: 50px 50px;
}

.message {
    font-family: 'raleway', sans-serif;
    text-align: right;
    display: inline;
}


.name {
    color: #f15b31;
    font-weight: 700;
}